body{
    width:760px;
    background-color:#cccccc;
    margin:0 auto;
}
h2{
    color:red;
    text-align: center;
    background-color:yellow;
    border:5px dotted red;
}
li{
   list-style: none; 
}
.container{
    margin-bottom: 20px;
}
.bold{
    font-weight: bold;
}
#important{
    font-size: 30px;
    color:#aa0000;
}